<h1>PGHC</h1>
<div class="overview">
    <div>Backend Servers: {{clusterConf.backendNodes}}</div>
    <div>PostgreSQL Masters: {{clusterConf.pgMasterNodes}}</div>
    <div>PostgreSQL Slaves: {{clusterConf.pgSlaveNodes}}</div>
    <div>Total Links Added: {{requestStats.totalLinksCreated}}</div>
    <div>Total Successful Verifications: {{requestStats.totalSuccessfulVerifications}}</div>
    <div>Total Failed Verifications: {{requestStats.totalFailedVerifications}}</div>
</div>
<button (click)="requestPause()" mat-button="pause">{{(userInputs.isPaused)? "Resume" : "Pause"}}</button>
<br/><br/>
SUB-VIEW PANE:<br/>
<router-outlet name="ls"></router-outlet>

