<h1>LIVESTATUS OVERVIEW</h1>
Backend Servers: {{clusterConf.backendNodes}}<br/>
PostgreSQL Masters: {{clusterConf.pgMasterNodes}}<br/>
PostgreSQL Slaves: {{clusterConf.pgSlaveNodes}}<br/>
Total Links Added: {{requestStats.totalLinksCreated}}<br/>
Total Successful Verifications: {{requestStats.totalSuccessfulVerifications}}<br/>
Total Failed Verifications: {{requestStats.totalFailedVerifications}}<br/>
<button (click)="pauseStressTest()" mat-button="pause">Pause</button>
<br/><br/>
SUB-VIEW PANE:<br/>
<router-outlet name="ls"></router-outlet>

